body {
  background-color: #fff;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.game-name {
  text-align: center;
  flex-basis: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  width: 100%;
}

.board {
  max-width: 680px;
  background-color: #6c5ce7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.item {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #02b3e4;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.opened button {
	transform: rotateY(0);
	background: #fff;
	cursor: default;
	animation-name: flip-card;
	backface-visibility: visible;
	animation-duration: .75s;
}

img {
  opacity: 0;
}

.opened img {
  opacity: 1;
}

.open .disabled button {
	pointer-events: none;
	opacity: 0.9;
}

li {
  list-style: none;
}


@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes flip-card {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}


